<header>
  <div class="container">
    <div class="header">
      <button class="menu-burger-btn header-icon e--mob">
        <div class="menu-btn-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <img
        srcset="
          {%- if section.settings.header_logo_img.width >= 375 -%}
            {{ section.settings.header_logo_img | image_url: width: 375 }} 375
          {%- endif -%}
          {%- if section.settings.header_logo_img.width >= 750 -%}
            {{ section.settings.header_logo_img | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.header_logo_img.width >= 1100 -%}
            {{ section.settings.header_logo_img | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.header_logo_img.width >= 1500 -%}
            {{ section.settings.header_logo_img | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.header_logo_img.width >= 1780 -%}
            {{ section.settings.header_logo_img | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.header_logo_img.width >= 2000 -%}
            {{ section.settings.header_logo_img | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.header_logo_img.width >= 3000 -%}
            {{ section.settings.header_logo_img | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.header_logo_img.width >= 3840 -%}
            {{ section.settings.header_logo_img | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.header_logo_img | image_url }} {{ section.settings.header_logo_img.width }}
        "
        class="header-logo"
        src="{{section.settings.header_logo_img | img_url: width: 300 }}"
        alt="Logo"
        loading="lazy"
      >
      <div class="d-flex">
        <button class="header-icon e--dsk">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/search.svg?v=1677694745"
            alt="Search"
            width="17"
            height="17"
            loading="lazy"
          >
        </button>
        <div class="menu-burger">
          <nav>
            <ul class="menu-burger-ul">
              {% for link in section.settings.main_menu.links %}
                <li>
                  {%- capture page_url -%}
                    {%- if page.url == null -%}
                      {{- "/" -}}
                    {%- else -%}
                      {{- page.url -}}
                    {%- endif -%}
                  {%- endcapture -%}
                  <a
                    class="header-link header-burger-link {% if page_url == link.url %} active {% endif %}"
                    href="{{ link.url }}"
                  >
                    {{- link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <nav class="header-nav">
          <ul class="menu d-flex">
            {% for link in section.settings.main_menu.links %}
              <li class="menu-link">
                {%- capture page_url -%}
                  {%- if page.url == null -%}
                    {{- "/" -}}
                  {%- else -%}
                    {{- page.url -}}
                  {%- endif -%}
                {%- endcapture -%}
                <a class="header-link {% if page_url == link.url %} active {% endif %}" href="{{ link.url }}">
                  {{- link.title -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="header-right-nav">
          <button class="header-icon">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/cart.svg?v=1677694745"
              alt="Cart"
              width="21"
              height="20"
              loading="lazy"
            >
          </button>
          <button class="header-icon e--dsk">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/heart.svg?v=1677694745"
              alt="Search"
              width="20"
              height="18"
              loading="lazy"
            >
          </button>
          <button class="header-icon e--dsk">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/user.svg?v=1677694745"
              alt="Search"
              width="15"
              height="18"
              loading="lazy"
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

{% javascript %}
  const menuBtn = document.querySelector('.menu-btn-burger');
  const menu = document.querySelector('.menu-burger');
  const body = document.querySelector('body');

  menuBtn.addEventListener('click', function () {
    menu.classList.toggle('active');
    menuBtn.classList.toggle('active');
    body.classList.toggle('ohidden');
  });
{% endjavascript %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Menu"
    },
    {
      "type": "image_picker",
      "id": "header_logo_img",
      "label": "Edit logo"
    }
  ]
}
{% endschema %}
